.mt-2{
    margin-top:10px;
}
.mt-4{
    margin-top:20px;
}
.mb-4{
    margin-bottom:20px;
}
.labelborder{
 border-left: 5px solid red;
 width: 170px;
 height: 25px;
}
.container{
    width: 70%;
}

textarea
{
  width:100%;
}
.textwrapper
{
 
  margin:5px 0;
  padding:3px;
}
